<div id="errorM"></div>
<h1 class="text-center font-weight-bolder m-4" id="main">Shows and Notes</h1>
<div class="container row">
    <div class="col-4">
<div class="card text-center">
  <h5 class="card-header">Still Watching</h5>
     {{#each wObject}}
     {{#unless this.watched}}
      {{this.memo}}
      {{this.show_logo}}
          <div class="accordion" id="accordionExample">
      <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="headButton" type="button" data-toggle="collapse" data-target="#collapse{{this.id}}" aria-expanded="false" aria-controls="collapseOne">
          {{this.show_name}}
        </button>
      </h2>
    </div>

    <div id="collapse{{this.id}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
                   <h5 class="title">{{this.show_name}}</h5>
            <img class="poster"src="{{this.show_logo}}" data-plot="{{this.show_plot}}">
            <p class="card-text">Name: {{this.episode_name}}</p>
            <p class="card-text">Notes: {{this.memo}}</p>
            <div class="text-center">
          <div class="btn-group">
            <button class="btn watched" data-id="{{this.id}}" data-watched="{{this.watched}}">Watched</button>
            <a class="btn edit" href="/{{this.id}}"data-update="{{this.id}}">Edit</a>
            <button class="btn delete" data-delete="{{this.id}}">X</button>
            </div>
          </div>
      </div>
    </div>
  </div>
    </div>
      {{/unless}}
{{/each}}
</div>

</div>
<div class="col-4">
    <h3 class="ml-5 mr-5">Add your TV show</h3>
    <div class="searchBox border border-dark rounded-lg">
  <form class="add-form">
          <div class="form-group">
            <div id="imgSearch">

            </div>
            <label>Show Name</label>
            <input type="showName" id="showName"class="form-control mb-1" id="showN" placeholder="TV show">
          </div>
          <div class="form-group">
          <label>Episode Name</label>
            <input type="episodeName" id="episodeName" class="form-control" id="episodeN" placeholder="Episode name">
            <div class="text-right mt-2">
              <button type="submit" id="searchShows" class="btn btn-outline-secondary">Search</button>
            </div>
          </div>
    </form>
    </div>
    </div>
    <div class="col-4">
        <div class="card text-center">
      <h5 class="card-header text-center">Watched Shows</h5>
      {{#each wObject}}
          {{#if this.watched}}
        <div class="accordion" id="accordionExample">
          <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="headButton" type="button" data-toggle="collapse" data-target="#collapse{{this.id}}" aria-expanded="false" aria-controls="collapseOne">
              {{this.show_name}}
            </button>
          </h2>
        </div>

        <div id="collapse{{this.id}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
                <h5 class="title">{{this.show_name}}</h5>
                <img class="poster"src="{{this.show_logo}}" data-plot="{{this.show_plot}}">
                <p class="card-text">Name: {{this.episode_name}}</p>
                <p class="card-text">Notes: {{this.memo}}</p>
                <div class="text-center">
            <div class="btn-group">
                <button class="btn watched" data-id="{{this.id}}" data-watched="{{this.watched}}">Watched</button>
                <a class="btn edit" href="/{{this.id}}"data-update="{{this.id}}">Edit</a>
                <button class="btn delete" data-delete="{{this.id}}">X</button>
            </div>
                </div>
          </div>
        </div>
      </div>
        </div>
      {{/if}}
{{/each}}

</div>

    
        </div>
</div>
