<h1 class="text-center font-weight-bolder m-4" id="main">Your shows and notes</h1>
<div class="container row text-center">
    <div class="col-4">
<div class="card">
  <h5 class="card-header text-center">Waiting to Watch</h5>
  <div class="card-body">
     {{#each wObject}}
    <div class="card">
  <div class="card-body">
    <h5 class="card-title "> Show Name: {{this.show_name}}</h5>
    <img class="poster"src="{{this.show_logo}}">
    <p class="card-text p-3 mb-2 bg-success text-white rounded-lg">Episode name: {{this.episode_name}}</p>
    <p class="card-text p-3 mb-2 rounded-lg">My Notes: {{this.memo}}</p>
    <div class="text-center">
    <button class="btn btn-primary watched" data-id="{{this.id}}" data-watched="{{this.watched}}">Watched</button>
    <button class="btn btn-warning text-white update" data-update="{{this.id}}">Edit</button>
    <button class="btn btn-danger text-white delete" data-delete="{{this.id}}">X</button>
    </div>
  </div>
</div>
<div class="m-4"></div>
{{/each}}
  </div>
</div>

</div>
<div class="col-4">
    <h1 class="text-center ml-5 mr-5">Add your TV show</h1>
    <div class="border border-dark rounded-lg">
  <form class="add-form">
          <div class="form-group">
            <div id="imgSearch">

            </div>
            <label for="exampleFormControlInput1">Show Name</label>
            <input type="showName" id="showName"class="form-control mb-1" id="showN" placeholder="TV show">
          </div>
          <div class="form-group">
          <label for="exampleFormControlInput1">Episode Name</label>
            <input type="episodeName" id="episodeName" class="form-control" id="episodeN" placeholder="Episode name">
            <button type="submit" id="searchShows" class="btn btn-outline-secondary">Search!</button>
          </div>
    </form>
    </div>
      <div id="editArea">

      </div>
    </div>
    <div class="col-4">
        <div class="card">
  <h5 class="card-header text-center">Watched Shows</h5>

</div>

    
        </div>
</div>





