<a href="/">Main Page</a>
<h1>The show you're editing: {{this.show_name}}</h1>
<h2> Episode name:{{this.episode_name}}</h2>
<img class="poster"src="{{this.show_logo}}">
<p>Memo: {{this.memo}}</p>
<p>Plot: {{this.show_plot}}</p>